<div class="banner-container">
    <div class="header">
        <h1><a class="header-btn" href="/">Tienda</a></h1>
        <div>
            <a class="header-btn2" href="/carrito"><i style="font-size:20px" class="fa">&#xf07a;</i> Carrito</a>
            <a class="header-btn2" href="/chat">Chat</a>
            <a class="logout" href="/logout">Logout</a>
        </div>
    </div>
</div>
   
